* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 18px;
    line-height: 1;
    color: #08db08;
}

button, input, progress {
    color: black;
    border-radius: 0;
}

button {
    cursor: pointer;
    background: #beced7;
    min-height: 45px;
    min-width: 45px;
}

button:disabled {
    cursor: not-allowed;
}

body {
    padding: 1em;
}

.bandamp {
    padding: 0 0.5em;
    max-width: 620px;
    margin: 0 auto;
    border: 5px double #717485;
    background: #373857;
}

.player__progress {
    width: 100%;
    margin-bottom: 1em;
    height: 0.5em;
    background: black;
    border: 1px solid #717485;
}

.player__progress::-webkit-progress-bar {
    background: black;
}

.player__progress::-moz-progress-bar {
    background: #af9967;
}

.player__progress::-webkit-progress-value {
    background: #af9967;
}

.player__controls {
    display: flex;
    gap: 0.5em;
    margin-bottom: 1em;
}

.player__controls button {
    flex: 20%;
    font-size: 150%;
}

.playlist {
    max-height: calc(100vh - 16em);
    overflow: auto;
    padding: 0.25em 0;
    margin: 1em 0 0.5em 0;
    background: black;
    border: 1px solid #717485;
}

.track-info {
    display: flex;
    align-items: baseline;
    gap: 1ch;
}

.track-info--player {
    margin: 0.5em 0;
    padding: 0.25em 0.125em;
    overflow-x: auto;
    background: black;
    border: 1px solid #717485;
}

.track-info--playlist {
    padding: 0 0.125em;
}

.track-info__artist {
    flex-grow: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.track-info__artist--player {
    min-height: 18px;
}

.track-info__track {
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.track-info__track:before {
    content: '— ';
}

.track-info__track:empty:before {
    display: none;
}

.playlist__item--active * {
    color: white;
}

.track-info__number {
    min-width: 3ch;
    text-align: right;
}

.track-info__number:before {
    content: counter(playlist) ".";
}

.playlist__item {
    counter-increment: playlist;
    padding: 0.125em 0;
    cursor: pointer;
}

.playlist__item:hover {
    background: #0201bf;
}

.playlist-controls {
    display: flex;
    gap: 0.5em;
}

.playlist-controls__album-url {
    flex: 1;
    padding: 0.5em;
    min-width: 0;
}

.playlist-controls__add {
    flex: 0;
}

.playlist-controls__clear {
    flex: 0;
}

.project-link {
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: #0201bf;
}
