:root {
    --playerBgColor: #373857;
    --borderColor: #717485;
    --buttonColor: #beced7;
    --controlBgColor: #000000;
    --controlColor: #08db08;
    --progressColor: #af9967;
    --focusBgColor: #0201bf;
    --focusColor: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 18px;
    line-height: 1;
    border-radius: 0;
}

button {
    cursor: pointer;
    background: var(--buttonColor);
    min-height: 1.7em;
    min-width: 2em;
}

button:disabled {
    cursor: not-allowed;
}

.bcp {
    padding: 0 0.5em;
    max-width: 620px;
    height: 100vh;
    margin: 0 auto;
    border: 5px double var(--borderColor);
    background: var(--playerBgColor);
}

.player__track-wrapper {
    display: flex;
    gap: 0.5em;
    margin: 0.5em 0;
}

@keyframes equalizer {
    0% { content: '▁'; }
    12% { content: '▂'; }
    24% { content: '▃'; }
    36% { content: '▄'; }
    48% { content: '▅'; }
    60% { content: '▆'; }
    78% { content: '▇'; }
    100% { content: '█'; }
}

.equalizer {
    background: var(--controlBgColor);
    border: 1px solid var(--borderColor);
    border-bottom-color: var(--focusColor);
    display: flex;
    padding: 0.50em 0.5ch 0 0.5ch;
    color: var(--focusColor);
}

.equalizer-bar:after {
    content: '▁';
    animation-name: equalizer;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: var(--duration); /* defined in DOM */
}

.player--paused .equalizer-bar:after {
    animation-play-state: paused;
}

.player__progress {
    width: 100%;
    margin-bottom: 1em;
    height: 0.5em;
    background: var(--controlBgColor);
    border: 1px solid var(--borderColor);
    cursor: text;
}

.player__progress::-webkit-progress-bar {
    background: var(--controlBgColor);
}

.player__progress::-moz-progress-bar {
    background: var(--progressColor);
}

.player__progress::-webkit-progress-value {
    background: var(--progressColor);
}

.player__controls {
    display: flex;
    gap: 0.5em;
    margin-bottom: 1em;
}

.player__controls button {
    flex: 20%;
    font-size: 150%;
}

.playlist {
    height: calc(100vh - 12.2em);
    overflow: auto;
    padding: 0.25em 0;
    margin: 1em 0 0.5em 0;
    background: var(--controlBgColor);
    border: 1px solid var(--borderColor);
}

.track-info {
    display: flex;
    align-items: baseline;
    gap: 1ch;
}

.track-info > * {
    color: var(--controlColor);
}

.track-info--player {
    padding: 0.25em 0.125em;
    overflow: hidden;
    background: var(--controlBgColor);
    border: 1px solid var(--borderColor);
    min-height: 30px;
    flex: 1;
}

.track-info--playlist {
    padding: 0 0.125em;
}

.track-info__artist--player {
    flex-shrink: 0;
}

.track-info__track--player {
    flex-shrink: 0;
}

.track-info__artist--playlist {
    flex-grow: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.track-info__track--playlist {
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.track-info__track:before {
    content: '— ';
}

.track-info__track:empty:before {
    display: none;
}

.playlist__item--active * {
    color: var(--focusColor);
}

.track-info__number {
    min-width: 3ch;
    text-align: right;
}

.track-info__number:before {
    content: counter(playlist) ".";
}

.playlist__item {
    counter-increment: playlist;
    padding: 0.125em 0;
    cursor: pointer;
}

.playlist__item:hover {
    background: var(--focusBgColor);
}

.playlist-controls {
    display: flex;
    gap: 0.5em;
}

.playlist-controls__album-url {
    flex: 1;
    padding: 0.5em;
    min-width: 0;
}

.playlist-controls__add {
    flex: 0;
}

.playlist-controls__clear {
    flex: 0;
}

.project-link {
    display: none;
}

@media(min-width: 640px) {
    body {
        padding: 1em;
    }

    .bcp {
        height: calc(100vh - 4em);
    }

    .playlist {
        height: calc(100vh - 16.2em);
    }

    .project-link {
        display: inline-block;
        position: absolute;
        bottom: 1em;
        right: 1em;
    }
}
